<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.description }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/cfp.html">Call for Papers</a></li>
      <!--<li><a href="{{ site.baseurl }}/cfw.html">Call for Workshops</a></li>
      <li><a href="{{ site.baseurl }}/cft.html">Call for Tutorials</a></li>-->
      <li><a href="{{ site.baseurl }}/cfd.html">Call for Demos</a></li>
      <li><a href="{{ site.baseurl }}/program.html">Conference Program</a></li>
      <li><a href="{{ site.baseurl }}/workshops.html">Workshops</a></li>
      <li><a href="{{ site.baseurl }}/tutorials.html">Tutorials</a></li>
      <li><a href="{{ site.baseurl }}/keynote.html">Keynote Speakers</a></li>
      <li><a href="{{ site.baseurl }}/registration.html">Participant Registration</a></li>
      <li><a href="{{ site.baseurl }}/venue.html">Venue</a></li>
      <li><a href="{{ site.baseurl }}/visa.html">Visa Information</a></li>
      <li><a href="{{ site.baseurl }}/travel.html">Travel and Accommodation</a></li>
      <li><a href="{{ site.baseurl }}/committees.html">Organising Committees</a></li>
      <li><a href="{{ site.baseurl }}/programcommittee.html">Program Committee</a></li>
      <li><a href="{{ site.baseurl }}/submission.html">Paper Submission</a></li>
      <li><a href="{{ site.baseurl }}/camera-ready.html">Camera-Ready Submission</a></li>
	  <li><a href="{{ site.baseurl }}/presenters.html">Presentation Instructions</a></li>
      <li><a href="{{ site.baseurl }}/sponsorship.html">Sponsorship</a></li>
      <li><a href="{{ site.baseurl }}/past.html">Past ACPRs</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
<div class="container">
  <ul class="sidebar-nav">
    <div class="sidebar-brand"><a href="{{ site.baseurl }}/"><!--<h3>{{ site.description }}</h3>--><img src="/images/ACPR_logo.png" style="max-width:250px"/></a></div>
    <hr />
    <li><a href="{{ site.baseurl }}/cfp.html"><b>Calls</b></a></li>
    <li><a href="{{ site.baseurl }}/cfp.html">for Papers</a></li>
    <!--<li><a href="{{ site.baseurl }}/cfw.html">for Workshops</a></li>
    <li><a href="{{ site.baseurl }}/cft.html">for Tutorials</a></li>-->
    <li><a href="{{ site.baseurl }}/cfd.html">for Demos</a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/program.html"><b>Conference</b></a></li>
    <li><a href="{{ site.baseurl }}/program.html">Program</a></li>
    <li><a href="{{ site.baseurl }}/workshops.html">Workshops</a></li>
    <li><a href="{{ site.baseurl }}/tutorials.html">Tutorials</a></li>
    <li><a href="{{ site.baseurl }}/keynote.html">Keynote Speakers</a></li>
    <li><a href="{{ site.baseurl }}/registration.html">Registration</a></li>
    <li><a href="{{ site.baseurl }}/venue.html">Venue</a></li>
    <li><a href="{{ site.baseurl }}/visa.html">Visa Information</a></li>
    <li><a href="{{ site.baseurl }}/travel.html">Travel and Accommodation</a></li>
    <li><a href="{{ site.baseurl }}/committees.html">Organising Committees</a></li>
    <li><a href="{{ site.baseurl }}/programcommittee.html">Program Committee</a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/submission.html"><b>Authors</b></a></li>
    <li><a href="{{ site.baseurl }}/submission.html">Paper Submission</a></li>
    <li><a href="{{ site.baseurl }}/camera-ready.html">Camera-Ready Submission</a></li>
	<li><a href="{{ site.baseurl }}/presenters.html">Presentation Instructions</a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/sponsorship.html"><b>Sponsors</b></a></li>
    <li><a href="{{ site.baseurl }}/past.html"><b>Past ACPRs</b></a></li>
    <hr />
  </ul>
</div>
</div>
