<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.description }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/cfp.html">Call for Papers</a></li>
      <li><a href="{{ site.baseurl }}/cfw.html">Call for Workshops</a></li>
      <li><a href="{{ site.baseurl }}/cft.html">Call for Tutorials</a></li>
      <li><a href="{{ site.baseurl }}/cfd.html">Call for Demos</a></li>
      <li><a href="{{ site.baseurl }}/program.html">Conference Program</a></li>
      <li><a href="{{ site.baseurl }}/workshops.html">Conference Workshops</a></li>
      <li><a href="{{ site.baseurl }}/keynote.html">Keynote Speakers</a></li>
      <li><a href="{{ site.baseurl }}/registration.html">Participant Registration</a></li>
      <li><a href="{{ site.baseurl }}/venue.html">Venue</a></li>
      <li><a href="{{ site.baseurl }}/travel.html">Travel and Accommodation</a></li>
      <li><a href="{{ site.baseurl }}/committees.html">Organising Committees</a></li>
      <li><a href="{{ site.baseurl }}/submission.html">Paper Submission</a></li>
      <li><a href="{{ site.baseurl }}/camera-ready.html">Camera-Ready Submission</a></li>
      <li><a href="{{ site.baseurl }}/sponsorship.html">Sponsorship</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
<div class="container">
  <ul class="sidebar-nav">
    <div class="sidebar-brand"><a href="{{ site.baseurl }}/"><h3>{{ site.description }}</h3></a></div>
    <hr />
    <a href="{{ site.baseurl }}/cfp.html"><b>Calls</b></a><br/>
    - <a href="{{ site.baseurl }}/cfp.html">for Papers</a><br/>
    - <a href="{{ site.baseurl }}/cfw.html">for Workshops</a><br/>
    - <a href="{{ site.baseurl }}/cft.html">for Tutorials</a><br/>
    - <a href="{{ site.baseurl }}/cfd.html">for Demos</a><br/>
    <hr />
    <a href="{{ site.baseurl }}/program.html"><b>Conference</b></a><br/>
    - <a href="{{ site.baseurl }}/program.html">Program</a><br/>
    - <a href="{{ site.baseurl }}/workshops.html">Workshops</a><br/>
    - <a href="{{ site.baseurl }}/keynote.html">Keynote Speakers</a><br/>
    - <a href="{{ site.baseurl }}/registration.html">Registration</a><br/>
    - <a href="{{ site.baseurl }}/venue.html">Venue</a><br/>
    - <a href="{{ site.baseurl }}/travel.html">Travel and Accommodation</a><br/>
    - <a href="{{ site.baseurl }}/committees.html">Organising Committees</a><br/>
    <hr />
    <a href="{{ site.baseurl }}/submission.html"><b>Authors</b></a><br/>
    - <a href="{{ site.baseurl }}/submission.html">Paper Submission</a><br/>
    - <a href="{{ site.baseurl }}/camera-ready.html">Camera-Ready Submission</a><br/>
    <hr />
    <a href="{{ site.baseurl }}/sponsorship.html"><b>Sponsors</b></a><br/>
    <hr />
  </ul>
</div>
</div>
